<!DOCTYPE html>
<html lang="fr">

<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Remote GCC Compiler</h1>
    <div class="panel">
        <form class="form-horizontal" action="/" method="Post">
            <textarea name="text" rows="4" cols="50">
                <-------Copier le code ici !------->
            </textarea>
            <br/>
            <input type="submit" value="Submit">
        </form>
    </div>
    <p>Error code : {{ errcode }}</p>
    <p>Error : {{ err }}</p>
</body>

</html>